.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    form {
        textarea {
            resize: none;
        }
    }
}